{% extends 'admin/index.html.twig' %}

{% block title %}New Player{% endblock %}

{% block content %}
    <h1>Create new Player</h1>

    {{ include('player/_form.html.twig') }}

    <a
    style="	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;  margin-left:117px; margin-top : 20px;"
     href="{{ path('app_player_index') }}">back to list</a>
{% endblock %}
