{% extends 'base.html.twig' %}

{% block title %}Edit MatchTeam{% endblock %}

{% block body %}
    <h1>Edit MatchTeam</h1>

    {{ include('match_team/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_match_team_index') }}">back to list</a>

    {{ include('match_team/_delete_form.html.twig') }}
{% endblock %}
