
/********Add Product Page*********/
.text-area {
    text-area-background: #242933 ;
    text-area-radius: 10;
    -fx-border-radius:10;
    -fx-background-radius:10;
    border-radius:10;
    background-radius:10;
}

.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    border-radius:10;
    background-radius:10;
}

.filter_btn{
    -fx-border-width: 0 0.5 0 0;
    -fx-border-color: #ffffff;
    
}

.filter_btn:hover, .filter_btn:focused{
    -fx-border-width: 0 0.5 2 0;
    -fx-border-color: #ffffff;   
}

.filter_btn_f{
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #ffffff;  
}

.filter_btn_f:hover, .filter_btn_f:focused{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #ffffff;   
}

/*scroll pane*/


/***********slide with two thumbs********************/
/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: white;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color:  #A80051;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color:  #A80051;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color:  #A80051;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}