{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <h1>Create new Role</h1>

    {{ include('role/_form.html.twig') }}

    <a href="{{ path('app_role_index') }}">Back</a>
{% endblock %}
