{% extends 'admin/index.html.twig' %}

{% block content %}

{% block title %}Edit comments{% endblock %}


    <h1>Edit comments</h1>

    {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}