{% extends 'admin/index.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block content %}


    <h1>Edit Users</h1>

   {{ include('users/_form.html.twig') }}

    <button class="button-62" role="button"><a href="{{ path('app_users_index') }}">Back</a></button>



{% endblock %}
