{% extends 'base.html.twig' %}

{% block body %}

{% block title %}Edit News{% endblock %}


    <h1>Edit News</h1>

    {{ include('news1/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}