{% extends 'admin/index.html.twig' %}

{% block title %}New News{% endblock %}

{% block content %}
    <h1>Create new News</h1>

    {{ include('news1/_form.html.twig') }}

    <a href="{{ path('app_news1_index') }}">back to list</a>
{% endblock %}
